fastapi
asyncio
pyserial-asyncio==0.6
pynmea2==1.18.0
Shapely==1.8.5.post1
python-json-logger==2.0.4
# pyproj==1.9.6
uvicorn
git+https://github.com/esensible/silkflow.git
dash==2.10.0
dash-leaflet==0.1.23